<!-- Begin  Global footer -->
<div class="row full-row-footer-black-components">
    <div class="container">
        <div class="row-footer">

            <div class="lp__footer_bottom_left">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <ul>
                        <li><a href="https://www.worldbank.org">
                                <img src="../img/logo-wbg-footer-en.svg" class="footer-logo"
                                    title="World Bank Group logo" alt="World Bank Group logo"></a>
                        </li>
                        <li><a class="lp__wbgpartnership" title="International Bank for Reconstruction and Development"
                                href="https://www.worldbank.org/en/who-we-are/ibrd">IBRD</a></li>
                        <li><a class="lp__wbgpartnership" title="International Development Association"
                                href="https://ida.worldbank.org/">IDA</a></li>
                        <li><a class="lp__wbgpartnership" title="International Finance Corporation"
                                href="https://www.ifc.org">IFC</a></li>
                        <li><a class="lp__wbgpartnership" title="Multilateral Investment Guarantee Agency"
                                href="https://www.miga.org/">MIGA</a></li>
                        <li><a class="lp__wbgpartnership"
                                title="International Centre for Settlement of Investment Disputes"
                                href="https://icsid.worldbank.org">ICSID</a></li>
                    </ul>


                </div>
            </div><!-- End logo and Wbg partnership -->


            <div class="lp__copyright">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    © <span id="footer-year"></span>
                    <script language="JavaScript">
                        <!-- Begin
                                                var time=new Date();
                                                var year=time.getYear();
                                                if (year < 2000)
                                                year = year + 1900;
                        document.getElementById("footer-year").innerHTML = year;
                                                // End -->
                    </script>
                    The World Bank Group, All Rights Reserved.
                </div>
            </div><!-- End dropdown and fraud  -->
        </div>
    </div>
</div>
<!-- End  Global footer -->